<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-update}" th:object="${user}" method="post">
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <lable for="username">Name</lable>
    <input type="text" th:field="*{username}" id="username" placeholder="username">
    <br/>
    <lable for="password">Password</lable>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <br/>
    <lable for="role">Role</lable>
    <select required name="role">
        <option disabled selected value="">Choose role</option>
        <option value="2">ROLE_ADMIN</option>
        <option value="1">ROLE_USER</option>
    </select>
    </br>
    <input type="submit" value="Update user">
</form>

<form action="/logout" method="POST">
    <button>logout</button>
</form>

</body>
</html>